a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: #3da8e3;
	border-color: #3da8e3;
}

.round-item{
	padding:0px 0px 30px 0;
	border-radius: 4px;
	background-color: #3da8e3;
	margin: 0 60px 60px 0px;
}

.album-container{
	text-align: center;
}

.album-bar{
	width: 100%;
	height: 46px;
	position: relative;
	background-color: #2980B9;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.album-bar > p{
	color: white;
	display: inline;
	line-height: 46px;
	padding:0;
	font-size: 1.5em;
	font-weight: 500;
}

.album-bar > a{
	line-height: 46px;
	position: absolute;
	color: white;
	font-size: 24px;
	right: 10px;
}

.album-bar > a:hover{
	color: #ECF0F1;
}

.album-bar > a:active{
	color: #BDC3C7;
}

.album-container > p{
	color: white;
	line-height: 1.2;
	font-size: 7.2em;
	font-weight: 700;
}

.open-album{
	width: 80%;
}

.album-submit-wrap {
	text-align: right;
}

#photo-model div.modal-dialog{
	width: 95%;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 34px;
	left: 0;
	right: 0;
	margin-top: 84px;
}

#photo-model div.modal-content{
	height: 100%;
	max-height:inherit;
}

.album-lbl{
	margin: 0;
	float: left;
	font-size: 1.2em;
	line-height: 36px;
}

#album-id{
	min-width: 96px; 
	margin: 0 10px;
}

#add-photo-toolbar{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	display: inline-block;
}

.album-sel{
	margin: 0;
	display:inline-block;
}

.custom-dropdown{
	float:inherit;
}

#album-upload-btn{
	padding:7px 15px;
	float: right;
}

#add-photo-wrap{
	position: absolute;
	right:0;
	left: 0;
	bottom: 0;
	top: 50%;
	text-align: center;
}

.upload-photo-item, .add-photo-btn{
	height: 214px;
	padding:0;
	margin: 0 15px 30px 15px;
	background-image: url('/public/images/billie_holiday.png');
}

.preview-ico{
	display: block;	
}

.preview-ico, .preview-ico > img{
	width:100%;
	height: 100%;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.add-ico, .add-ico > img{
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;	
    margin: auto;
    position: absolute;
}

.del-link, .done-ico {
	position: absolute;
	right: 0;
	top: 0;
	width: 24px;
	height: 24px;
	text-align: center;
	display: block;
	border-radius: 12px;
	background-color: white;
	opacity: .8;	
	right: 5px;
	top: 5px;
}

.del-link > span {
	text-align: center;
	color: #FF4444;
}

.del-link > span:hover{
	color: #444;
	opacity: .8;
}

.done-ico > span {
	text-align: center;
}

.ico-hidden{
	display: none;
}

.upload-photo-item .loading-bar{
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.progress-bar{
	width: 1%;
	height: 16px;
	bottom: 0;
	position: absolute;
}

.chgrid-wraper:after { content: " "; display: block; clear: both;}






