a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
	background-color: #3da8e3;
	border-color: #3da8e3;
}

#loading-layer{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	opacity: .5;
	background-color: black;
}

#date-list{
	margin-top: 32px;
	display: inline-block;
	padding: 0;
	table-layout: fixed;
}

#date-list > li{
	display: inline-block;
	margin: 0 15px;
	text-align:center;
	list-style-type: none;
}

.menu-wrap{
	width:48px;
	height: 48px;
	display: block;
	text-align: center;
	color: white;
	margin-top: 5px;
	font-size: 1.6em;
	font-weight: 700;
	background-color: #3da8e3;
	border-radius: 24px;
	box-shadow: 1px 1px 5px #888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.date-num{
	line-height: 48px;
}

div.weekend{
	background-color: #FF4444;
}

.menu-wrap span.week-head{
	width: 48px;
	position:absolute;
	margin-top: -24px;
	text-align:center;
	display:block;
	color: #34495e;
	font-size: 0.7em;
}

.menu-wrap > .dropdown-arrow{
	border-width: 0 18px 17px;
	right:inherit;
	top: inherit;
	display: none;
	margin-top: 8px;
	margin-left: 6px;
	opacity: 1;
	border-color: transparent transparent #3da8e3 transparent;
}

.menu-content{
	width: 320px;
	height: auto;
	min-height: 36px;
	position: absolute;
	margin-top: 25px;
	display:none;
	background-color: #3da8e3;
	border-radius: 4px;
	box-shadow: 1px 1px 5px #888888;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

div.menu-content.hovered, 
span.dropdown-arrow.hovered{
	display:table;
}

#food-menu-add-wrap, #cre-lesson-wrap {
	float: right;
}

.add-plus{
	display: block;
	background: url("http://st3.ck12.org/media/build-20140306144255/dashboard/images/dashboard-sprite.png") no-repeat scroll 22px -268px #d8d4cb;
	border-radius: 36px;
	height: 75px;
	width: 75px;
	cursor: pointer;
	font-size: 16px;
	margin: auto;
}

#food-menu-add-wrap > h3{
	text-align: center;
}

#food-menu-add-wrap:hover .add-plus{
	background-color: #58d68d;
}

#food-menu-add-wrap:hover h3{
	color: #58d68d;
}

.food-nm {
	width: 52%;
	line-height: normal;
	display: inline-block;
}

.food-type-list {
	width: 40%;
	display: inline-block;
	float: right;
}

.food-type-lbl {
	float: left;
	line-height: 1;
}

.custom-dropdown {
	width: 100%;
	line-height: 1.467;
	border-radius: 6px;
}

.custom-dropdown__select {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#food-img-btn-wrap{
	padding: 6px 12px;
	overflow: hidden;
}

#food-img {
	position: absolute;
	height: 33px;
	margin: 0;
	padding: 0;
	bottom: 20px;
	left: 20px;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
}

#upload-fn {
	padding: 0;
	margin-bottom: 0;
	height: 33px;
	line-height: 33px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
}

#fn-text {
	height: 100%;
	padding: 6px 12px;
	line-height: 15px;
	font-size: 15px;
	color: #666;
	border: 1px solid #D8D8D8;
	font-family: inherit;
	border-radius: 4px;
}

.addfood-submit{
	border: none;
	padding: 0.6em 1.2em;
	background: #58d68d;
	color: #fff;
	float: right;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 4px;
}

.alert{
	width:calc(57.6% - 40px);
	position:absolute;
	opacity: 0;	
	left: calc(28.4% + 20px);
	right: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.alert-success, .alert-danger{
	opacity:1;
}

#week-pre, #week-next{
	font-size: 1.8em;
	color: #3da8e3;
	text-align: center;
	line-height: 48px;
}

#tool-bar {
	padding: 0 15px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: #3da8e3;
}

#tool-bar > label{
	line-height: 46px;
	color: white;
	margin:0;
}

/*************************************************** Food Expandable Menu Start ***************************************************/

.ac-container{
    width: 100%;
    margin: 0px auto 20px auto;
}

.ac-container label{
	padding: 5px 20px;
	margin-bottom: 0;
	position: relative;
	display: block;
	cursor: pointer;
	color: white;
	line-height: 33px;
	font-size: 1.2em;
	font-weight: 700;
}

.ac-container label:hover{
    background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
        0px 0px 0px 1px rgba(155,155,155,0.3), 
        0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;  
}

.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}

.ac-container input{
    display: none;
}

.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0px;
    position: relative;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.food-opt{
	color: #34495e;
	line-height: 1.2em;
    font-size: 1.2em;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article.ac-food{
    height: 240px;
    overflow: auto;
}

.fui-eye{
	float: right;
}


#lb-1{
	background-color: #a8dff4;
	background: -webkit-linear-gradient(bottom, #c5eaf8 1%,#a8dff4 100%);
	background: -o-linear-gradient(bottom, #c5eaf8 1%,#a8dff4 100%);
	background: -ms-linear-gradient(bottom, #c5eaf8 1%,#a8dff4 100%);
	background: linear-gradient(bottom, #c5eaf8 1%,#a8dff4 100%);
}

#lb-2{
	background-color: #8ad5f0;
	background: -webkit-linear-gradient(bottom, #a8dff4 1%,#8ad5f0 100%);
	background: -o-linear-gradient(bottom, #a8dff4 1%,#8ad5f0 100%);
	background: -ms-linear-gradient(bottom, #a8dff4 1%,#8ad5f0 100%);
	background: linear-gradient(bottom, #a8dff4 1%,#8ad5f0 100%);
}

#lb-3{
	background-color: #6dcaec;
	background: -webkit-linear-gradient(bottom, #8ad5f0 1%,#6dcaec 100%);
	background: -o-linear-gradient(bottom, #8ad5f0 1%,#6dcaec 100%);
	background: -ms-linear-gradient(bottom, #8ad5f0 1%,#6dcaec 100%);
	background: linear-gradient(bottom, #8ad5f0 1%,#6dcaec 100%);
}

#lb-4{
	background-color: #50c0e9;
	background: -webkit-linear-gradient(bottom, #6dcaec 1%,#50c0e9 100%);
	background: -o-linear-gradient(bottom, #6dcaec 1%,#50c0e9 100%);
	background: -ms-linear-gradient(bottom, #6dcaec 1%,#50c0e9 100%);
	background: linear-gradient(bottom, #6dcaec 1%,#50c0e9 100%);
}

#lb-5{
	background-color: #33b5e5;
	background: -webkit-linear-gradient(bottom, #50c0e9 1%,#33b5e5 100%);
	background: -o-linear-gradient(bottom, #50c0e9 1%,#33b5e5 100%);
	background: -ms-linear-gradient(bottom, #50c0e9 1%,#33b5e5 100%);
	background: linear-gradient(bottom, #50c0e9 1%,#33b5e5 100%);
}

.food-img-view{
	z-index: 9999;
}

.food-img-view:hover + .tooltip,
.lesson-eye:hover + .tooltip{
	opacity: 1;
	display: block;
} 

.food-info-wrap {
	height: 100%;
	position: absolute;
	right: 8px;
	display: inline-block;
}

.tooltip {
    position: absolute;
    width: 248px;
    max-height: 480px;
    right: 8px;
    top: 48px;
    display: none;
}

.food-col .tooltip{
	height: auto;
	right: -264px;
	color: #34495e;
	font-weight: 300;
	top: 0;
}
             
.tooltip-content {
	width: 100%;
	height:auto;
    max-height: 176px;
	text-align: justify;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 10;
    overflow:hidden;
}
             
.tooltip:before, .tooltip:after{
    content: '';       
    width: 10px;
    height: 10px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: 16px;
    margin-left: -5px;
    z-index: 11;
}

.food-col .tooltip:before, .food-col .tooltip:after{
    top: 12px;
    left: 0px;
}
             
.tooltip:after{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    z-index: 9;
}

.tooltip-content > img {
	width: 84px;
	height: 84px;
	float:left;
	margin: 0 10px 0 0;
	padding: 3px 3px 0px 3px;
	border-radius: 42px;
	background-color: #F7F7F7;
	padding: 5px;
	box-shadow: 1px 1px 5px #888888;
}

.tooltip-content > p{
	max-height: 166px;
	line-heigh: 17px;
}

.nomenu-wrap, .nofood-wrap {
	text-align: center;
	vertical-align: middle;
}

.nomenu-wrap{
	padding: 72px 0;
}

.nofood-wrap {
	padding: 36px 0;
}

.nofood-wrap > img{
	margin-bottom: 5px;
}

.nofood-wrap > p, .nomenu-wrap > p{
	line-height: 1.2em;
	font-size: 1.0em;
	font-weight: 700;
}

.nofood-wrap > p{
	font-size: 1.2em;
	font-weight: 700;
	color:#95a5a6;
}

#chse-menu-btn, #chse-schedule-btn{
	margin-top: 15px;
}

.food-opt.selected,
#lesson-list > li.selected {
	-moz-box-shadow: inset 0 0 5px 2px #3498DB;
	-webkit-box-shadow: inset 0 0 5px 2px #3498DB;
	box-shadow: inset 0 0 5px 2px #3498DB;
	background: #d8f6ff!important;
	border-radius: 4px;
}

.menu-submit-wrap{
	text-align: right;
	margin: 0;
	padding: 0;
}

#menu_tem_cb {
	float: left;
	width: 50%;
	line-height: 20px;
	text-align: left;
}

.edit-menu-submit{
	margin: 15px 0;
}

/*************************************************** Food Expandable Menu End ***************************************************/



/*************************************************** Menu Table Start ***************************************************/

.menu-content > table{
	width: 100%;
	border-collapse:collapse;
}

.menu-content > table th{
	color: #34495e;
	line-height: 48px;
	text-align: center;
	padding: 0;
}

.menu-content > table td {
	padding:0;
	margin: 0;
}

.menu-content > table tr{
	font-size: 0.8em;
}

.time-col{
	width: 36%;
	display: table-cell;	
}

.food-col{
	width: 64%;
	display: table-cell;
}

.food-col a{
	width: 100%;
	height: 36px;
	padding: 0 10px 0 0;
	line-height: 36px;
	display: block;
	color: white;
	overflow: auto;
}

.food-tooltip{
	background-color: red;
	position: absolute;
	right: -48px;	
}
tr.breakfast{
	background-color: #48cfad;
}

tr.morning-tea{
	background-color: #99CC00;
}

tr.lunch{
	background-color: #f46272;
}

tr.afternoon-tea{
	background-color: #FFBB33;
}

tr.dinner{
	background-color: #FF4444;
}
/**************************************************** Menu Table End ****************************************************/

.lesson-submit-wrap{
	text-align: right;
}

.bootstrap-timepicker-widget.dropdown-menu{
	padding: 0;
	opacity: 1;
	min-width: 124px;
	visibility: visible;
	background-color: white;
	z-index: 9999;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.0s;
	transition: 0.0s;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.bootstrap-timepicker > input{
	width:72px;
	display: inline-block;
}

.bootstrap-timepicker > span{
	display: inline-block;
}

.menu-content > table.schedule-tb td {
	color: #f7f7f7;
	padding: 0.6em 0.4em;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 16px;
	border-radius: 4px;
	text-align: center;
}

.time-picker,
.lesson-title {
	width: 100%;
	background: #3da8e3;
	outline: 0;
	margin: 0; 
	font-size: 1.0em;
	border-width: 0px;
	border: none;
	color: #fff;
	text-align: center;
}

.time-picker:hover,
.lesson-title:hover{
	background: rgba(0, 0, 0, 0.1);
}

a.time-arrow{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

a.time-arrow:before{
	color: #34495e;
}

.schedule-edit{
	width: 100%;
	padding:0 15px;
	color: white;
	display: inline-block;
}

.schedule-edit > a{
	color: white;
	display: inline-block;
	float: left;
}

.schedule-edit > input.btn{
	float: right;
	padding: 6px 12px;
}

.lesson-body{
	padding: 0 20px;
}

#lesson-list{
	padding: 0;	
}

#lesson-list > li{
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	list-style-type: none;
}

#lesson-list > li a{
	color: #34495e;
	line-height: 1.2em;
	font-size: 1.2em;
}






















