<div id="toolbar">
	<div class="layer upper-layer">
		#{if _as != "album"}
			<a id="multi-ed-btn" class="btn btn-info toolbar-btn">Mark multiple students</a>
		#{/if}
		#{else}
			<a id="cre-album-btn" class="btn btn-success" data-toggle="modal" data-target="#album-model">Create a new album</a>
			<a id="add-photo-btn" class="btn btn-info" data-toggle="modal" data-target="#photo-model">Add a new photo</a>
		#{/else}
	</div>
	<div class="layer lower-layer hidden">
		<a id="sel-all-btn" class="btn btn-info">Select all</a>
		#{if _as == "attendance"}
			<a id="multi-sel-btn" class="btn btn-success" data-toggle="modal" data-target="#attendance-model">Choose award</a>
		#{/if}
		#{elseif _as == "mood"}
			<a id="multi-sel-btn" class="btn btn-success" data-toggle="modal" data-target="#mood-model">Choose mood</a>
		#{/elseif}
		#{elseif _as == "mark"}
			<a id="multi-sel-btn" class="btn btn-success" data-toggle="modal" data-target="#mark-model">Choose behavior</a>
		#{/elseif}
		<a id="cancel-btn" class="btn btn-default toolbar-btn">Cancel</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		
		$('.round-item-txt').on('click', function(){
			$('.round-item-sel').removeClass('round-item-sel');
			$(this).parent().addClass('round-item-sel');
			$('#' + "${_as}" + '-model').modal('show');
		});
		
		$('.toolbar-btn').on('click', function(){
			hideToolBar();
		});
		
		$('#sel-all-btn').on('click',function(){
			$('.multi-cb > input:checkbox').each(function(){
				$(this).prop('checked', true);
			});
		});
		
		$('#cancel-btn').on('click', function(){
			$('.multi-cb > input:checkbox::checked').each(function(){
				$(this).prop('checked', false);
			});
		});
	});
	
	function hideToolBar(){
		$('.layer').toggleClass('hidden');
		$('.multi-cb').toggleClass('hidden');
		if($('.upper-layer').hasClass('hidden')){
			$('.round-item-txt').off('click');
		}else{
			$('.round-item-txt').on('click', function(){
				$('.round-item-sel').removeClass('round-item-sel');
				$(this).parent().addClass('round-item-sel');
				$('#' + "${_as}" + '-model').modal('show');
			});
		}
	}
</script>
