#{extends 'main.html'/}
#{set user: user /}

<link href="@{'/public/stylesheets/classattendance.css'}" rel="stylesheet" media="screen">
<link href="@{'/public/stylesheets/jcrop/jquery.Jcrop.min.css'}" rel="stylesheet" media="screen">
<script src="@{'/public/javascripts/jcrop/jquery.Jcrop.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		
		$('.avr-edit').on('click', function(){
			var childId = $(this).attr('id');
				childId = childId.substring(4, childId.length);
			$('#crop-child').val(childId);
		});
		
		$("#avatar-upload").on("change", function(e){
			for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
		        var file = e.originalEvent.srcElement.files[i];

		        $('.jcrop-holder').remove();

		        var img = document.createElement("img");
		        img.setAttribute("class", "cropper");
		        var reader = new FileReader();
		        reader.onloadend = function() {
		             img.src = reader.result;
		        }
		        reader.readAsDataURL(file);
		        $("#upload-fn").after(img);
				
		        var ratio;
		        img.onload = function(){
		        	ratio = img.width / img.naturalWidth;
		        	$('#crop-ratio').val(ratio);
		        	$('.cropper').Jcrop({
		        		aspectRatio: 1,
		        		onChange: showCoords,
		        		onSelect: showCoords,
		        		bgColor: 'black',
		                bgOpacity: .6,
		                setSelect: [ ($('.cropper').width() / 2) - 100, 
		                             ($('.cropper').height() / 2) - 100, 
		                             ($('.cropper').width() / 2) + 100, 
		                             ($('.cropper').height() / 2) + 100 
		                           ]
		        	});
		        }
		    }
		});

		$('#avatar-upload').change(function(){
			  $('#fn-text').val($(this).val());
		});
		
		$('#ch-avatar-form').submit(function(event){
			event.preventDefault();
			
			var file = document.getElementById("avatar-upload");
			var data = new FormData();
				data.append('childId', $('#crop-child').val());
				data.append('x', $('#crop-x').val());
				data.append('y', $('#crop-y').val());
				data.append('width', $('#crop-width').val());
				data.append('height', $('#crop-height').val());
				data.append('ratio', $('#crop-ratio').val());
				data.append('image', file.files[0]);
			
			$.ajax({
                url: "/classlifecontroller/saveavatarbychildid",
                type: "POST",
                data : data,
                contentType: false,
                processData: false,
                success: function(response, status) {
                	if(status == "success"){
                		var child = jQuery.parseJSON(JSON.stringify(response));
                		$('#avr-' + child.id).find('img').attr('src', "../../" + child.avatarURL);
                		$('#avr-edit-model').modal('hide');
                	}
                },
                error: function (error) {
                    alert(error);
                } 
            });
		});
		
		$('ul.model-list li').click(function(e) {
			var mulCbs = $('.multi-cb > input:checkbox');
			var childIds = [];
			mulCbs.each(function(){
				if($(this).is(':checked')){
					childIds.push($(this).attr('id').replace('cb-', ''));
				}
			});
			
			var data = {};
			var status = $(this).find('input').val();
			var url = "";
			if(childIds.length == 0){
				var childId = $('.round-item-sel').attr('id');
					childId = childId.substring(3, childId.length);
					data = {childId: childId, status: status};
				url = "/classlifecontroller/markAttendToChildByChildId";
			}else{
				data = {childIds: childIds, status: status};
				url = "/classlifecontroller/markAttendToChildrenByChildIds";
			}
			
			var config = new ConfigSetting(url, data, "POST");
			config.ajaxCall(function(response, status){
				if(status == "success"){
					updateHtml((childIds.length > 0), response, e.target);
			    	$('#attendance-model').modal('hide');
				}
			});
		});
	});

	function updateHtml(isMulti, response, ele){
		if(isMulti){
			var mulCbsed = $('.multi-cb > input:checkbox::checked');
			mulCbsed.each(function(){
				updateAttendIcon($(this).parent().prev(), ele.innerHTML);
				$(this).prop('checked', false);
			});
			hideToolBar();
		}else{
			var obj = jQuery.parseJSON(JSON.stringify(response));
			var ele = $('.round-item-sel').find('.round-item-txt');
			updateAttendIcon(ele, obj.status.substring(0, 1));
		}
	}
	
	function updateAttendIcon(ele, status){
		ele.removeAttr('class');
		if(status === "P"){
			ele.addClass('round-item-txt color-present');
			ele.text('P');
		}else if(status === "L"){
			ele.addClass('round-item-txt color-late');
			ele.text('L');
		}else if(status === "A"){
			ele.addClass('round-item-txt color-absent');
			ele.text('A');
		}else if(status === "M"){ 
			ele.addClass('round-item-txt color-mc');
			ele.text('M');
		}
	}
	
	function showCoords(obj){
		$('#crop-x').val(obj.x);
		$('#crop-y').val(obj.y);
		$('#crop-width').val(obj.w);
		$('#crop-height').val(obj.h);
	}
</script>
<div class="dash-container">
	#{subheader user:user, as:"dash"/}
	<div class="dash-content">
		<div class="left-menu">
			<div class="list-group">
			  <a href="@{ClassLifeController.classReport()}" class="list-group-item active">Daily report</a>
			  <a href="@{ClassLifeController.classattendance()}" class="list-group-item">Attendance</a>
			  <a href="@{ClassLifeController.showSchedule()}" class="list-group-item">Class schedule</a>
			  <a href="@{ClassLifeController.showmenuorder()}" class="list-group-item">Food menu</a>
			  <a href="@{ClassLifeController.showclassalbum()}" class="list-group-item">Class photo</a>
			  <a href="@{ClassLifeController.markGrid()}" class="list-group-item">Baby behavior</a>
			  <a href="@{ClassLifeController.moodGrid()}" class="list-group-item">Baby mood</a>
			  <a href="#" class="list-group-item">Class statistics</a>
			</div>
		</div>
		<div class="right-detail">
			#{toolbar as:"attendance"/}
			<div class="chgrid-wraper">
				#{if children?.size() > 0}
					#{list items:children, as: "child"}
						%{
							String attStatus = "P";
							String r = "present";
							enums.AttendanceStatus status = enums.AttendanceStatus.PRESENT;
							models.Attendance attendance = child.getAttendanceByDate();
							if(attendance != null){
								status = attendance.status;
							}
							switch(status){
							case enums.AttendanceStatus.PRESENT:
								attStatus = "P";
								attr = "present";
								break;
							case enums.AttendanceStatus.LATE:
								attStatus = "L";
								attr = "late";
								break;
							case enums.AttendanceStatus.ABSENT:
								attStatus = "A";
								attr = "absent";
								break;
							case enums.AttendanceStatus.MC:
								attStatus = "M";
								attr = "mc";
								break;
							}
						}%
						<div id="ch-${child?.id}" class="col-xs-12 col-sm-6 col-md-4 col-lg-2 round-item">
							<div class="round-item-txt color-${attr}">
								${attStatus}
							</div>
							<div class="multi-cb hidden">
								<input type="checkbox"id="cb-${child?.id}">
								<label for="cb-${child?.id}"></label>
							</div>
							<div class="round-item-avatar">
								<a id="avr-${child?.id}" class="avr-edit" data-toggle="modal" data-target="#avr-edit-model">
									<img src="../../${child.avatarURL}"/>
								</a>
							</div>
						</div>
					#{/list}
				#{/if}
				#{else}
					<div id="nonch-wraper">
						<div class="clz-add-wraper">
						   	<a class="cre-clz-plus" href="@{RosterController.classRoster()}"></a>
						   	<h3 class="add-clz-btn">There is no child in this class<br>Click on \"Plus\" button to add child !</h3>
						   	<img src="http://www.ck12.org/media/dashboard/images/groups-img.png">
						</div>
					</div>
				#{/else}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="avr-edit-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>EDIT AVATAR</h3>
      </div>
      <div class="modal-body">
      	<form id="ch-avatar-form">
      		<div id="avr-btn-wrap" class="btn btn-info">
      			<span>Upload</span>
      			<input id="avatar-upload" class="upload" type="file" name="image">
      		</div>
      		<input id="avr-submit" type="submit" class="btn btn-success"/>
      		<p id="upload-fn">
      			<input id="fn-text" disabled="disabled" placeholder="Choose File">
      		</p>
      		<input type="hidden" id="crop-child" name="childId">
      		<input type="hidden" id="crop-x" name="x">
      		<input type="hidden" id="crop-y" name="y">
      		<input type="hidden" id="crop-width" name="width">
      		<input type="hidden" id="crop-height" name="height">
      		<input type="hidden" id="crop-ratio" name="ratio">
      	</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="attendance-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>MARK ATTENDANCE</h3>
      </div>
      <div class="modal-body">
      	<ul class="model-list">
       		<li id="attend-p" class="attend-item">
       			<span class="color-present">P</span>
       			<p class="color-present-txt">Present</p>
       			<input type="hidden" name="status" value="0">
       		</li>
       		<li id="attend-l" class="attend-item">
       			<span class="color-late">L</span>
       			<p class="color-late-txt">Late</p>
       			<input type="hidden" name="status" value="1">
       		</li>
       		<li id="attend-a" class="attend-item">
       			<span class="color-absent">A</span>
       			<p class="color-absent-txt">Absent</p>
       			<input type="hidden" name="status" value="2">
       		</li>
       		<li id="attend-m" class="attend-item">
       			<span class="color-mc">M</span>
       			<p class="color-mc-txt">Medical check</p>
       			<input type="hidden" name="status" value="3">	
       		</li>
       	</ul>
      </div>
    </div>
  </div>
</div>