#{extends 'main.html'/}
#{set user: user /}

<link href="@{'/public/stylesheets/classalbum.css'}" rel="stylesheet" media="screen">
<script src="@{'/public/javascripts/plupload/plupload.full.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<div class="dash-container">
	#{subheader user:user, as:"dash"/}
	<div class="dash-content">
		<div class="left-menu">
			<div class="list-group">
			  <a href="@{ClassLifeController.classReport()}" class="list-group-item active">Daily report</a>
			  <a href="@{ClassLifeController.classattendance()}" class="list-group-item">Attendance</a>
			  <a href="@{ClassLifeController.showSchedule()}" class="list-group-item">Class schedule</a>
			  <a href="@{ClassLifeController.showmenuorder()}" class="list-group-item">Food menu</a>
			  <a href="@{ClassLifeController.showclassalbum()}" class="list-group-item">Class photo</a>
			  <a href="@{ClassLifeController.markGrid()}" class="list-group-item">Baby behavior</a>
			  <a href="@{ClassLifeController.moodGrid()}" class="list-group-item">Baby mood</a>
			  <a href="#" class="list-group-item">Class statistics</a>
			</div>
		</div>
		<div class="right-detail">
			#{toolbar as:"album"/}
			<div class="chgrid-wraper">
				#{list items:albums, as:"album"}
					<div id="album-${album?.id}" class="col-xs-14 col-sm-6 col-md-4 col-lg-3 round-item">
						<div class="album-container">
							<div class="album-bar">	
								<p>${album.title}</p>
							</div>
							<p class="album-count">${album?.photos.size()}</p>
							<a class="btn btn-success open-album" href="@{ClassLifeController.showThumbnails(album.id)}">Open album</a>
						</div>
					</div>
				#{/list}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="album-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>ADD NEW ALBUM</h3>
      </div>
      <div class="modal-body">
        <form id="album-form">
			<div class="form-group">
				<label for="album-title">Lesson title</label>
				<input type="text" name="album.title" class="form-control" id="album-title" placeholder="Title" >
			</div>
			
			<div class="form-group">
				<label for="album-desc">Description</label>
				<textarea id="album-desc" class="form-control" name="album.description" rows="3" placeholder="Description"></textarea>
			</div>
			
			<div class="form-group album-submit-wrap">
				<input id="album-submit" class="form-submit btn btn-success" type="submit" value="Create" >
			</div>
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="photo-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>ADD PHOTOS</h3>
      </div>
      <div class="modal-body photo-body">
        <div id="add-photo-toolbar">
        	<label for="album-id" class="album-lbl">Add to</label>
        	<div class="form-group album-sel">
				<div class="custom-dropdown custom-dropdown--white">
					<select name="albumId" id="album-id" class="custom-dropdown__select custom-dropdown__select--white">
				        #{list items: albums, as : "album"}
							<option value="${album.id}">${album.title}</option>	        
				        #{/list}
				    </select>
				</div>
			</div>
			<button id="album-upload-btn" class="btn btn-success">Start to upload !</button>
        </div>
        <div id="add-photo-content">
	        <div id="uploader" class="col-xs-14 col-sm-6 col-md-4 col-lg-2 add-photo-btn">
	        	<a id="pick-file-btn" class="add-ico"><img src="@{'/public/images/addtoalbumicon.png'}"></a>
	       	</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    (function( $, plupload ) {
    	
    	$("#album-form").validate({
	        rules: {
	        	"album.title":{
	                minlength: 3,
	                maxlength: 20,
	                required: true
	            },
				"album.description": {
	                maxlength: 150
				}
	        },
	        highlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	        },
	        unhighlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
	        },
          	submitHandler: function(form) {
          		var config = new ConfigSetting("/classlifecontroller/createAlbum", $(form).serialize(), "POST");
    			config.ajaxCall(function(response, status){
    				if(status == "success"){
    					var album = jQuery.parseJSON(JSON.stringify(response));
    					var html = "<div id=\"album-" + album.id + "\" class=\"col-xs-14 col-sm-6 col-md-4 col-lg-3 round-item\">";
    						html += "<div class=\"album-container\">";
    						html += "<div class=\"album-bar\">";
    						html += "<p>" + album.title + "</p>";
    						html += "</div>";
    						if(album.photos == null){
    							html += "<p class=\"album-count\">0</p>";
    						}else{
    							html += "<p class=\"album-count\">" + album.photos.length + "</p>";
    						}
    						html += "<a class=\"btn btn-success open-album\" href=\"@{ClassLifeController.showThumbnails(album.id)}\">Open album</a>";
    						html += "</div></div>";
    					$('.chgrid-wraper').append(html);
    					$('<option>').val(album.id).text(album.title).appendTo('#album-id');
    			    	$('#album-model').modal('hide');
    				}
    			});
	        }
	    });
    	
        var dom = {
            uploader: $( "#uploader" )
        };
		
        $('#album-upload-btn').click(function(e){
        	e.preventDefault();
        	if($('.round-item').length == 0){
        		alert("There is no album in the class.\nPlease create an album before adding photo !");
        	}else{
        		uploader.start();
        	}
        });
        
        var uploader = new plupload.Uploader({
            runtimes: "html5,flash",
            url: "/ClassLifeController/uploadPhotosByAlbumId",
            drop_element: "uploader",
            browse_button: "pick-file-btn",
            container: "uploader",
            multipart : true,
            max_file_size: '10mb',
            max_file_count: 10,
            flash_swf_url: "@{'/public/javascripts/plupload/assets/Moxie.swf'}",
    		silverlight_xap_url : "@{'/public/javascripts/plupload/assets/Moxie.xap'}",
            urlstream_upload: true,
            file_data_name: "blobs"
        });

        uploader.bind("FilesAdded", handlePluploadFilesAdded);
        
        uploader.bind('BeforeUpload', function(up){
       	    up.settings.multipart_params = {
    	    	"albumId" : $("#album-id").val()
       	    };
        });
        
        uploader.bind('UploadProgress', function(up, file) {
        	$('#' + file.id).find('.progress-bar').removeClass('ico-hidden');
        	$('#' + file.id).find('.progress-bar').css('width', file.percent + '%').attr('aria-valuenow', file.percent);
        	if(parseInt(file.percent) === 100){
        		$('#' + file.id).find('.done-ico').removeClass('ico-hidden');
        		$('#' + file.id).find('.del-link').addClass('ico-hidden');
        		$('#' + file.id).find('.progress-bar').addClass('ico-hidden');
        	}
        });
        
        uploader.bind("UploadComplete", function(up, files){
        	var albumTxt = $('#album-' + $("#album-id").val()).find("p.album-count");
        	var count = parseInt(albumTxt.text()) + $(".upload-photo-item").length;
        	$('#album-' + $("#album-id").val()).find("p.album-count").text(count);
        	$('#photo-model').modal('hide');
        });
        
        $('#photo-model').on('hidden.bs.modal', function () {
        	$(".upload-photo-item").each(function(index){
        		$(this).remove();
        	});
        });

        uploader.init();

        function handlePluploadFilesAdded( uploader, files ) {
            for ( var i = 0 ; i < files.length ; i++ ) {
                showImagePreview(files[i]);
            }
        }

        function showImagePreview(file) {
        	var previewItem = $("<div id=\"" + file.id + "\" class=\"col-xs-14 col-sm-6 col-md-4 col-lg-2 upload-photo-item\"></div>");
        	var imgLink = $("<a class=\"preview-ico\"></a>");
        	var img = $( new Image() ).appendTo(imgLink);
        	imgLink.appendTo(previewItem);
        	
        	var delLink = $("<a class=\"del-link\"><span class=\"fui-cross\"></span></a>");
        	delLink.appendTo(previewItem);
        	
        	var doneIco = $("<a class=\"done-ico ico-hidden\"><span class=\"fui-check\"></span></a>");
        	doneIco.appendTo(previewItem);
        	
        	var loadingBar = $("<img class=\"loading-bar\" src=\"@{'/public/images/loading_icon.gif'}\">");
        	loadingBar.appendTo(previewItem);
        	
        	var proressBar = $("<div class=\"progress-bar ico-hidden\" role=\"progressbar\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\">");
        	proressBar.appendTo(previewItem);
        	
        	$('#uploader').before(previewItem);
        	
            var preloader = new mOxie.Image();
            preloader.onload = function() {
                preloader.downsize(300, 300);
                img.prop("src", preloader.getAsDataURL());
                $('#' + file.id).find('img.loading-bar').remove();
            };
            preloader.load(file.getSource());
            
            $('#' + file.id + ' a.del-link').click(function(e) {
                e.preventDefault();
                uploader.removeFile(file);
                previewItem.remove();
            });
        }
    })( jQuery, plupload );

</script>

























