#{extends 'main.html'/}
#{set user: user /}

<link href="@{'/public/stylesheets/showmenu.css'}" rel="stylesheet">
<script type="text/javascript">
	$(document).ready(function(){
		init();
		initTemplateCheckBox();
		
		$('#food-img').change(function(){
			$('#fn-text').val($(this).val());
		});
		
		$("form.addfood-form").validate({
	        rules: {
	        	"food.name":{
	                minlength: 3,
	                maxlength: 20,
	                required: true,
	                remote: {
	                    url: "/classlifecontroller/isfoodavailable",
	                    type: 'get',
	                    data: {
	                        "name": function() {
	                            return $('#food-name').val();
	                        }
	                    },
	                }
	            },
	            "food.description":{
	            	minlength: 6,
	            	required:true
	            }
	        },
	        messages: {
	        	"food.name":{
               		remote:"Food name already exists."
               }
            },
	        highlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
	        },
	        unhighlight: function (element) {
	            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
	        },
	        submitHandler: function(form) {
	        	var file = document.getElementById("food-img");
	      		var data = new FormData();
					data.append('food.name', $('#food-name').val());
					data.append('food.description', $('#food-desc').val());
					data.append('food.type', $('#food-type').val());
					data.append('food.image', file.files[0]);
	        	$.ajax({
	                url: "/classlifecontroller/createfood",
	                type: "POST",
	                contentType: false,
	                processData: false,
	                data : data,
	                success: function(response, status) {
	                	if(status == "success"){
	                		showMsg("success");
	                	}else{
	                		showMsg("fail");
	                	}
	                	$('#addfood-model').modal('hide');
	                },
	                error: function(error){
	                	showMsg("fail");
	                	$('#addfood-model').modal('hide');
	                }
	            });
	         }
	    });
		
		$('#addmenu-model').on('shown.bs.modal', function (e) {
			$('#breakfast > article').empty();
			$('#morning-tea > article').empty();
			$('#lunch > article').empty();
			$('#afternoon-tea > article').empty();
			$('#dinner > article').empty();
			
			$.ajax({
                url: "/classlifecontroller/getclassfood",
                type: "POST",
                data : {clzId: ${clz.id}},
                success: function(response, status) {
                	if(status == "success"){
                		var food = jQuery.parseJSON(JSON.stringify(response));
                		$.each(food, function(index, value){
                			var html = "<div class=\"food-opt\" onclick=\"foodClicked(this);\">";
	                			html += "<input name=\"food\" value=\"" + value.id + "\" type=\"hidden\">";
                				html += "<span>" + value.name + "</span>";
	            				html += "<span class=\"fui-eye food-img-view\"></span>";
	            				html += "<div class=\"tooltip\">";
	            				html += "<div class=\"tooltip-content\">";
	            				html += "<img src=\"" + "../../" + value.thumbnail + "\"/>";
	            				html += "<p>" + value.description + "</p>";
	            				html += "</div></div></div>";
                			if(value.type === "BREAKFAST"){
                				$('#breakfast > article').append(html);
                			}else if(value.type === "MORNING_TEA"){
                				$('#morning-tea > article').append(html);
                			}else if(value.type === "LAUNCH"){
                				$('#lunch > article').append(html);
                			}else if(value.type === "AFTERNOON_TEA"){
                				$('#afternoon-tea article').append(html);
                			}else if(value.type === "DINNER"){
                				$('#dinner > article').append(html);
                			}
                		});
                		
                		var nohtml = "<div class=\"nofood-wrap\">";
	                		nohtml += "<img src=\"../../public/images/moods/mood_cry.png\">";
	                		nohtml += "<p>Sorry, there is no food !</p>";
	                		nohtml += "<p>Click to add an new food !</p>";
	                		nohtml += "</div>";
        				
                		$('article.ac-food').each(function(){
                			if($(this).children().length == 0){
                				$(this).append(nohtml);
                			}
                		});
                	}
                }
            });
		});
		
		$('#menu-submit').click(function(){
			var dateStr = $('.menu-content.hovered').parents('li').find('input').val();
			var foodIds = [];
			$('.food-opt.selected > input').each(function(index){
				foodIds[index] = $(this).val();
			});
			
			$.ajax({
                url: "/classlifecontroller/createmenubyclzId",
                type: "POST",
                dataType: 'json',
                data : {
                	clzId: ${clz.id},
                	foodIds: foodIds,
                	dateStr: $('.menu-content.hovered').parents('li').find('input').val(),
                	isTemplate: $('#is_menu_template').val()
				},
                success: function(response, status) {
                	if(status == "success"){
                		var menu = jQuery.parseJSON(JSON.stringify(response));
                		menusObj[dateStr] = menu;
                		$('.menu-content').empty();
                		updateMenu(new Date(dateStr));
                		$('#addmenu-model').modal('hide');
                	}
                }
            });
		});
		
	});
	
	function init(){
		jsonStr = "${new flexjson.JSONSerializer().deepSerialize(clz.menus)}".replace(/&quot;/g, '"');
		menusObj = jQuery.parseJSON(jsonStr)
		
		$('.menu-wrap').on('mouseenter', function(){
			$('.hovered').removeClass('hovered');
			$(this).find('.menu-content').addClass('hovered');
			$(this).find('.dropdown-arrow').addClass('hovered');
		});
		
		$('a#week-pre').on('click', function(){
			$('.menu-content').empty();
			var preDate = new Date(parseInt($('#tool-bar > input').val()) - 604800000);
			updateWeekBar(preDate);
			updateMenu(preDate);
		});
		
		$('a#week-next').on('click', function(){
			$('.menu-content').empty();
			var nextDate = new Date(parseInt($('#tool-bar > input').val()) + 604800000);
			updateWeekBar(nextDate);
			updateMenu(nextDate);
		});
		
		showTodayMenu();
		updateWeekBar(new Date());
		updateMenu(new Date());
	}
	
	function updateWeekBar(date){
		var startDate = new Date('${clz.startDate}');
		var endDate = new Date('${clz.endDate}');
		if(updateToolbarUI(startDate, date, endDate)){
			var date = getDateOfWeek(date.getWeek(), date.getFullYear());
			var daysOfWeek = date.getStartAndEnd();
			$('li#sunday p.date-num').text(daysOfWeek[0].getDate());
			$('li#sunday input').val(formDateByFormat(daysOfWeek[0]));
			
			$('li#monday p.date-num').text(daysOfWeek[1].getDate());
			$('li#monday input').val(formDateByFormat(daysOfWeek[1]));
			
			$('li#tuesday p.date-num').text(daysOfWeek[2].getDate());
			$('li#tuesday input').val(formDateByFormat(daysOfWeek[2]));
			
			$('li#wednesday p.date-num').text(daysOfWeek[3].getDate());
			$('li#wednesday input').val(formDateByFormat(daysOfWeek[3]));
			
			$('li#thursday p.date-num').text(daysOfWeek[4].getDate());
			$('li#thursday input').val(formDateByFormat(daysOfWeek[4]));
			
			$('li#friday p.date-num').text(daysOfWeek[5].getDate());
			$('li#friday input').val(formDateByFormat(daysOfWeek[5]));
			
			$('li#saturday p.date-num').text(daysOfWeek[6].getDate());
			$('li#saturday input').val(formDateByFormat(daysOfWeek[6]));
		}
	}
	
	function updateMenu(date){
		var daysOfWeek = date.getStartAndEnd();
		$.each(daysOfWeek, function(index, value){
			var menuItem = $('li#' + weekday[index]);	
			var menuContent = menuItem.find('div.menu-content');
			var menu = menusObj[formDateByFormat(daysOfWeek[index])];
			if(menu == null){
				var html = "<div class=\"nomenu-wrap\">";
	    			html += "<img src=\"../../public/images/moods/confused.png\" />";
	    			html += "<p>Sorry, The menu is empty !</p><p>Click to create a menu !</p>";
	    			html += "<button id=\"cre-menu-btn\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#addmenu-model\">&nbsp;&nbsp;&nbsp;Create an new menu&nbsp;&nbsp;&nbsp;&nbsp;</button>";
	    			html += "<button id=\"chse-menu-btn\" class=\"btn btn-info\">Choose from existing one</button></div>";
			}else{
				var breakfastHtml="", brunchHtml="", lunchHtml="", highTeaHtml="", dinnerHtml="";
				var html = "<table class=\"menu-tb\">";
					html += "<thead><tr><th>Time</th><th>Food</th></tr></thead>";
					html += "<tbody>";
					
				$.each(menu.food, function(index, food){
					switch(food.type) {
			    	    case "BREAKFAST":
			    	    	breakfastHtml += "<a>" + food.name + "</a>";
			    	        break;
			    	    case "MORNING_TEA":
			    	    	brunchHtml += "<a>" + food.name + "</a>";
			    	        break;
			    	    case "LAUNCH":
			    	    	lunchHtml += "<a>" + food.name + "</a>";
			    	        break;
			    	    case "AFTERNOON_TEA":
			    	    	highTeaHtml += "<a>" + food.name + "</a>";
			    	        break;
			    	    case "DINNER":
			    	    	dinnerHtml += "<a>" + food.name + "</a>";
			    	        break;
					}
				});
				
				html += "<tr class=\"breakfast\">";
				html += "<td>Breakfast</td>";
				html += "<td class=\"food-col\">";
				html += breakfastHtml;
				html += "</td></tr>";
				
				html += "<tr class=\"morning-tea\">";
				html += "<td>Morning tea</td>";
				html += "<td class=\"food-col\">";
				html += brunchHtml;
				html += "</td></tr>";
				
				html += "<tr class=\"lunch\">";
				html += "<td>Lunch</td>";
				html += "<td class=\"food-col\">";
				html += lunchHtml;
				html += "</td></tr>";
				
				html += "<tr class=\"afternoon-tea\">";
				html += "<td>Afternoon tea</td>";
				html += "<td class=\"food-col\">";
				html += highTeaHtml;
				html += "</td></tr>";
				
				html += "<tr class=\"dinner-tea\">";
				html += "<td>Dinner</td>";
				html += "<td class=\"food-col\">";
				html += dinnerHtml;
				html += "</td></tr>";
				
				html += "</tbody></table>";
			}
			//menuContent.append(html);
		});
	}
	
	function formDateByFormat(date){
		var year = date.getFullYear(); var month = date.getMonth() + 1; var day = date.getDate();
		return year + "-" + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);
	}
	
	function updateToolbarUI(startDate, date, endDate){
		var weekCount = Math.floor((endDate.getTime() - startDate.getTime()) / 604800000) + 1;
		var curWeek = Math.floor((date.getTime() - startDate.getTime()) / 604800000) + 1
		if(curWeek > 0 && curWeek <= weekCount){
			$('#tool-bar > label').text('Week ' + curWeek + ', ' + date.getFullYear() + '-' + parseInt(date.getMonth() + 1));
			$('#tool-bar > input').val(date.getTime());
			return true;
		}
		return false;
	}
	
	function getDateOfWeek(w, y) {
	    var d = (1 + (w - 1) * 7);
	    return new Date(y, 0, d);
	}
	
	Date.prototype.getWeek = function (dowOffset) {
			dowOffset = typeof(dowOffset) == 'int' ? dowOffset : 0;
			var newYear = new Date(this.getFullYear(),0,1);
			var day = newYear.getDay() - dowOffset; 
			day = (day >= 0 ? day : day + 7);
			var daynum = Math.floor((this.getTime() - newYear.getTime() - 
			(this.getTimezoneOffset()-newYear.getTimezoneOffset())*60000)/86400000) + 1;
			var weeknum;
			if(day < 4) {
				weeknum = Math.floor((daynum+day-1)/7) + 1;
				if(weeknum > 52) {
					nYear = new Date(this.getFullYear() + 1,0,1);
					nday = nYear.getDay() - dowOffset;
					nday = nday >= 0 ? nday : nday + 7;
					weeknum = nday < 4 ? 1 : 53;
				}
			}
			else {
				weeknum = Math.floor((daynum+day-1)/7);
			}
			return weeknum;
	};
	
	Date.prototype.getStartAndEnd = function(start){
	    start = start || 0;
	    var today = new Date(this.setHours(0, 0, 0, 0));
	    var day = today.getDay() - start;
	    var date = today.getDate() - day;

	    var startDate = new Date(today.setDate(date));
	   	var dayOne = new Date(today.setDate(date + 1));
	   	var dayTwo = new Date(today.setDate(date + 2));
	   	var dayThree = new Date(today.setDate(date + 3));
	   	var dayFour = new Date(today.setDate(date + 4));
	   	var dayFive = new Date(today.setDate(date + 5));
	    var endDate = new Date(today.setDate(date + 6));
	    return [startDate, dayOne, dayTwo, dayThree, dayFour, dayFive, endDate];
	}
	
	function showTodayMenu(){
			weekday = new Array(7);
			weekday[0]=  "sunday";
			weekday[1] = "monday";
			weekday[2] = "tuesday";
			weekday[3] = "wednesday";
			weekday[4] = "thursday";
			weekday[5] = "friday";
			weekday[6] = "saturday";
		var day = weekday[new Date().getDay()];
		$('li#' + day).find('.menu-content').addClass('hovered');
		$('li#' + day).find('.dropdown-arrow').addClass('hovered');
	}
	
	function showMsg(status){
		if(status === "success"){
			$(".alert").addClass("alert-success");
			$(".alert").text("Add a new child successfully !");
		}else{
			$('.alert').addClass('alert-danger');
			$(".alert").text("Failed to add a new child !");
		}
		
		setTimeout (function(){
			$(".alert.alert-success").removeClass('alert-success');
			$(".alert.alert-danger").removeClass('alert-danger');
        }, 3000);
	}
	
	function foodClicked(e){
		var foodDiv = $(e);
		foodDiv.toggleClass('selected');
	}
	
	function initTemplateCheckBox(){
		$('.checkbox-icon').click(function(){
			var checkLbl = $(this).parent();
			checkLbl.toggleClass('checked');
			if(checkLbl.hasClass('checked')){
				checkLbl.find('input').val('true');
			}else{
				checkLbl.find('input').val('false');
			}
		});
	}
</script>

<div class="dash-container">
	#{subheader user:user, clz:clz, as:"dash"/}
	<div class="dash-content">
		<div class="left-menu">
			<div class="list-group">
			  <a href="#" class="list-group-item active">Daily report</a>
			  <a href="#" class="list-group-item">Class schedule</a>
			  <a href="@{ClassLifeController.showmenu(clz?.id)}" class="list-group-item">Food menu</a>
			  <a href="#" class="list-group-item">Class photo</a>
			  <a href="@{ClassLifeController.markGrid(clz?.id)}" class="list-group-item">Baby behavior</a>
			  <a href="@{ClassLifeController.moodGrid(clz?.id)}" class="list-group-item">Baby mood</a>
			  <a href="#" class="list-group-item">Class statistics</a>
			</div>
		</div>
		<div class="right-detail">
			<div class="alert"></div>
			<div id="tool-bar">
				<label for="week-num">Week 1</label>
				<input id="week-num" type="hidden"/>
			</div>
			<div>
				<a id="week-pre" class="fui-arrow-left"></a>
				<ul id="date-list">
					<li id="sunday">
						<input type="hidden"/>
						<div class="menu-wrap weekend">
							<span class="week-head">Sun</span>
							<p class="date-num">23</p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
								<table class="menu-tb">
									<thead>
										<tr>
											<th class="time-col">Time</th>
											<th class="food-col">Food</th>
										</tr>
									</thead>
									<tbody>
										<tr class="breakfast">
											<td class="time-col">Breakfast</td>
											<td class="food-col">
												<a>Food 3 Food 3 Food 3 Food 3 Food 3</a>
												<a>Food 3</a>
												<a>Food 3</a>
												<a>Food 3</a>
												<a>Food 3</a>
												<a>Food 3</a>
												<a>Food 3</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</li>
					<li id="monday">
						<input type="hidden"/>
						<div class="menu-wrap">
							<span class="week-head">Mon</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
					<li id="tuesday">
						<input type="hidden"/>
						<div class="menu-wrap">
							<span class="week-head">Tue</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
					<li id="wednesday">
						<input type="hidden"/>
						<div class="menu-wrap">
							<span class="week-head">Web</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
					<li id="thursday">
						<input type="hidden"/>
						<div class="menu-wrap">
							<span class="week-head">Thu</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
					<li id="friday">
						<input type="hidden"/>
						<div class="menu-wrap">
							<span class="week-head">Fri</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
					<li id="saturday" class="weekend">
						<input type="hidden"/>
						<div class="menu-wrap weekend">
							<span class="week-head">Sat</span>
							<p class="date-num"></p>
							<span class="dropdown-arrow"></span>
							<div class="menu-content">
							</div>
						</div>
					</li>
				</ul>
				<a id="week-next" class="fui-arrow-right"></a>
			</div>
			<div id="food-menu-add-wrap">
				<a class="add-plus" data-toggle="modal" data-target="#addfood-model"></a>
			   	<h3>Add your Food !</h3>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addfood-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>ADD NEW FOOD</h3>
      </div>
      <div class="modal-body">
        <form class="addfood-form">
			<div class="form-group food-nm">
				<label for="food-name" class="username_lbl">Food name</label>
				<input type="text" name="food.name" class="form-control" id="food-name" placeholder="Food name" >
			</div>
			
			<div class="form-popup food-type-list">
				<label for="food-type" class="food-type-lbl">Food type</label>
				<div class="custom-dropdown custom-dropdown--white">
				    <select name="food.type" id="food-type" class="custom-dropdown__select custom-dropdown__select--white">
				        <option value="BREAKFAST">Breakfast</option>
				        <option value="MORNING_TEA">Morning tea</option>
				        <option value="LAUNCH">Launch</option>
				        <option value="AFTERNOON_TEA">Afternoon tea</option>
				        <option value="DINNER">Dinner</option>
				    </select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="food-desc">Food description</label>
				<textarea id="food-desc" class="form-control" name="food.description" rows="3" placeholder="Description"></textarea>
			</div>
			
			<div id="food-img-btn-wrap" class="btn btn-info">
    			<span>Upload</span>
    			<input id="food-img" class="upload" type="file" name="food.image" >
    		</div>
    		<p id="upload-fn">
      			<input id="fn-text" disabled="disabled" placeholder="Choose File" >
      		</p>
			<input class="form-submit addfood-submit" type="submit" value="Create" >
		</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addmenu-model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>ADD FOOD</h3>
      </div>
      <div class="modal-body">
      	<section class="ac-container">
		    <div id="breakfast">
		        <input id="ac-1" name="accordion-1" type="checkbox" />
		        <label id="lb-1" for="ac-1">Breakfast</label>
		        <article class="ac-food">
		        </article>
		    </div>
		    <div id="morning-tea">
		        <input id="ac-2" name="accordion-1" type="checkbox" />
		        <label id="lb-2" for="ac-2">Morning tea</label>
		        <article class="ac-food">
		        </article>
		    </div>
		    <div id="lunch">
		        <input id="ac-3" name="accordion-1" type="checkbox" />
		        <label id="lb-3" for="ac-3">Lunch</label>
		        <article class="ac-food">
		        </article>
		    </div>
		    <div id="afternoon-tea">
		        <input id="ac-4" name="accordion-1" type="checkbox" />
		        <label id="lb-4" for="ac-4">Afternoon tea</label>
		        <article class="ac-food">
		        </article>
		    </div>
		    <div id="dinner">
		        <input id="ac-5" name="accordion-1" type="checkbox" />
		        <label id="lb-5" for="ac-5">Dinner</label>
		        <article class="ac-food">
		        </article>
		    </div>
		</section>
		<div class="form-group menu-submit-wrap">
			<button id="menu-submit" class="btn btn-success">Submit the menu !</button>
			<label id="menu_tem_cb" class="checkbox" for="is_menu_template">
			    <span class="checkbox-icon icons">
				   	<span class="first-icon fui-checkbox-unchecked"></span>
				   	<span class="second-icon fui-checkbox-checked"></span>
		   		</span>
		   		<input type="checkbox" value="false" id="is_menu_template" data-toggle="checkbox">Set as a template ?
			</label>
		</div>
      </div>
    </div>
  </div>
</div>
