#{extends "main.html"/}
#{set user: user /}

<link href="@{'/public/stylesheets/bootstrap/bootstrap-image-gallery.min.css'}" rel="stylesheet" media="screen">
<link href="@{'/public/stylesheets/blueimp/blueimp-gallery.min.css'}" rel="stylesheet" media="screen">
<link href="@{'/public/stylesheets/showthumbnails.css'}" rel="stylesheet" media="screen">
<div id="links">
	#{list items : photos, as:"photo"}
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a class="thumbnail" href="@{ClassLifeController.showPhoto(photo.id)}" data-gallery="">
				<img style="background-image: url('../../${photo?.thumbnail}');">
			</a>
		</div>
	#{/list}
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev"><span class="fui-arrow-left"></span></a>
    <a class="next"><span class="fui-arrow-right"></span></a>
    <a class="close"><span class="fui-cross"></a>
    <a class="play-pause"><span class="fui-play"></a>
    <ol class="indicator"></ol>
</div>

<script src="@{'/public/javascripts/blueimp/jquery.blueimp-gallery.min.js'}"></script>
<script src="@{'/public/javascripts/bootstrap/bootstrap-image-gallery.min.js'}"></script>
<script type="text/javascript">
	$(window).load(function(){
		$('.thumbnail').each(function(){
			var width = $(this).width();
			var height = 0.75 * width;
			$(this).css("height", height);
		});
	});	
</script>



























